In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

from sklearn import set_config
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder


from sksurv.preprocessing import OneHotEncoder
from sksurv.ensemble import RandomSurvivalForest

# Preparado de Datos solo imputando age

En este caso se trabaja con el archivo de datos sin procesar, es decir, los datos descargados directamente de la base de datos, simplemente con una columna a mayores : F.analisis, que se corresponde con la dimensión fractal calculada previamente en MATLAB y sobre el se hace la imputación de valores faltantes de edad. Se hace con edad pq se observa que la distribución es normal ycentrada por lo que al ser pocos los valores faltantes, se presupone que esta imputación no  va a tener gran impacto sobre los resultados. En cambio , el resto de valores faltantes (clinical.T.Stage , Overall.Stage, F.analysis, Histology) son datos médicos directamente relacionados con el tumor, por lo que se consideran valores más críticos para hacer imputaciones.

In [67]:
Data=pd.read_csv('df_sin_imputaciones.csv')
Data.head()

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Histology,gender,Survival.time,deadstatus.event,F.analysis
0,LUNG1-001,78.7515,2.0,3,0,IIIb,large cell,male,2165,1,1.771485
1,LUNG1-002,83.8001,2.0,0,0,I,squamous cell carcinoma,male,155,1,1.881307
2,LUNG1-003,68.1807,2.0,3,0,IIIb,large cell,male,256,1,1.376259
3,LUNG1-004,70.8802,2.0,1,0,II,squamous cell carcinoma,male,141,1,1.734710
4,LUNG1-005,80.4819,4.0,2,0,IIIb,squamous cell carcinoma,male,353,1,1.581113

In [68]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         422 non-null    object
 1   age               400 non-null    float64
 2   clinical.T.Stage  421 non-null    float64
 3   Clinical.N.Stage  422 non-null    int64
 4   Clinical.M.Stage  422 non-null    int64
 5   Overall.Stage     421 non-null    object
 6   Histology         380 non-null    object
 7   gender            422 non-null    object
 8   Survival.time     422 non-null    int64
 9   deadstatus.event  422 non-null    int64
 10  F.analysis        421 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 36.4+ KB

## Imputación del valor de age para los datos faltantes

In [69]:
from sklearn.impute import KNNImputer

In [70]:
columnas=Data.columns

In [71]:
knni = KNNImputer(n_neighbors=3)

col_imputations = knni.fit_transform(Data[['age']])
values_imputations = np.concatenate([Data[[ 'PatientID']],col_imputations,Data[[ 'clinical.T.Stage', 'Clinical.N.Stage',
       'Clinical.M.Stage', 'Overall.Stage', 'Histology', 'gender',
       'Survival.time', 'deadstatus.event', 'F.analysis']].values], axis=1)

Data2 = pd.DataFrame(values_imputations, columns=columnas)

In [72]:
Data2.head()

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Histology,gender,Survival.time,deadstatus.event,F.analysis
0,LUNG1-001,78.7515,2.0,3,0,IIIb,large cell,male,2165,1,1.771485
1,LUNG1-002,83.8001,2.0,0,0,I,squamous cell carcinoma,male,155,1,1.881307
2,LUNG1-003,68.1807,2.0,3,0,IIIb,large cell,male,256,1,1.376259
3,LUNG1-004,70.8802,2.0,1,0,II,squamous cell carcinoma,male,141,1,1.73471
4,LUNG1-005,80.4819,4.0,2,0,IIIb,squamous cell carcinoma,male,353,1,1.581113

In [73]:
Data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         422 non-null    object
 1   age               422 non-null    object
 2   clinical.T.Stage  421 non-null    object
 3   Clinical.N.Stage  422 non-null    object
 4   Clinical.M.Stage  422 non-null    object
 5   Overall.Stage     421 non-null    object
 6   Histology         380 non-null    object
 7   gender            422 non-null    object
 8   Survival.time     422 non-null    object
 9   deadstatus.event  422 non-null    object
 10  F.analysis        421 non-null    object
dtypes: object(11)
memory usage: 36.4+ KB

In [74]:
Data2['age']=Data2['age'].astype('float64')
Data2['clinical.T.Stage']=Data2['clinical.T.Stage'].astype('float64')
Data2['Clinical.N.Stage']=Data2['Clinical.N.Stage'].astype('int64')
Data2['Survival.time']=Data2['Survival.time'].astype('int64')
Data2['deadstatus.event']=Data2['deadstatus.event'].astype('int64')
Data2['F.analysis']=Data2['F.analysis'].astype('float64')
Data2['Clinical.M.Stage']=Data2['Clinical.M.Stage'].astype('int64')

In [75]:
Data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         422 non-null    object
 1   age               422 non-null    float64
 2   clinical.T.Stage  421 non-null    float64
 3   Clinical.N.Stage  422 non-null    int64
 4   Clinical.M.Stage  422 non-null    int64
 5   Overall.Stage     421 non-null    object
 6   Histology         380 non-null    object
 7   gender            422 non-null    object
 8   Survival.time     422 non-null    int64
 9   deadstatus.event  422 non-null    int64
 10  F.analysis        421 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 36.4+ KB

## Eliminación datos faltantes

In [76]:
Datos_NoNulos=Data2.dropna()

In [77]:
Datos_NoNulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377 entries, 0 to 420
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         377 non-null    object
 1   age               377 non-null    float64
 2   clinical.T.Stage  377 non-null    float64
 3   Clinical.N.Stage  377 non-null    int64
 4   Clinical.M.Stage  377 non-null    int64
 5   Overall.Stage     377 non-null    object
 6   Histology         377 non-null    object
 7   gender            377 non-null    object
 8   Survival.time     377 non-null    int64
 9   deadstatus.event  377 non-null    int64
 10  F.analysis        377 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 35.3+ KB

## Eliminación valores erróneos de Stage

### Clinical T Stage

In [78]:
T_rows = Datos_NoNulos[Datos_NoNulos['clinical.T.Stage'] > 4]
T_rows

Empty DataFrame
Columns: [PatientID, age, clinical.T.Stage, Clinical.N.Stage, Clinical.M.Stage, Overall.Stage, Histology, gender, Survival.time, deadstatus.event, F.analysis]
Index: []

### Clinical N Stage

In [79]:
N_rows = Datos_NoNulos[Datos_NoNulos['Clinical.N.Stage'] > 3]
N_rows

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Histology,gender,Survival.time,deadstatus.event,F.analysis
166,LUNG1-167,74.9295,4.0,4,0,IIIb,squamous cell carcinoma,male,1357,1,0.872282
231,LUNG1-232,73.2868,4.0,4,0,IIIb,large cell,male,2521,1,1.588498
291,LUNG1-292,66.2149,4.0,4,0,IIIb,squamous cell carcinoma,male,232,1,1.671252

In [80]:
Datos_NoNulos=Datos_NoNulos.drop([166], axis=0, inplace=False)
Datos_NoNulos=Datos_NoNulos.drop([231], axis=0, inplace=False)
Datos_NoNulos=Datos_NoNulos.drop([291], axis=0, inplace=False)
Datos_NoNulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 0 to 420
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         374 non-null    object
 1   age               374 non-null    float64
 2   clinical.T.Stage  374 non-null    float64
 3   Clinical.N.Stage  374 non-null    int64
 4   Clinical.M.Stage  374 non-null    int64
 5   Overall.Stage     374 non-null    object
 6   Histology         374 non-null    object
 7   gender            374 non-null    object
 8   Survival.time     374 non-null    int64
 9   deadstatus.event  374 non-null    int64
 10  F.analysis        374 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 35.1+ KB

### Clinical M Stage

In [81]:
M_rows = Datos_NoNulos[Datos_NoNulos['Clinical.M.Stage'] >2]
M_rows

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Histology,gender,Survival.time,deadstatus.event,F.analysis
71,LUNG1-072,71.4743,4.0,3,3,IIIb,nos,male,377,1,1.542416
255,LUNG1-256,53.0842,4.0,2,3,IIIb,large cell,male,291,1,1.658656
268,LUNG1-269,73.0595,3.0,3,3,IIIa,large cell,male,193,1,1.382715
332,LUNG1-333,63.6988,1.0,2,3,IIIa,adenocarcinoma,male,2985,1,1.223261

In [82]:
Datos_NoNulos=Datos_NoNulos.drop([71], axis=0, inplace=False)
Datos_NoNulos=Datos_NoNulos.drop([255], axis=0, inplace=False)
Datos_NoNulos=Datos_NoNulos.drop([268], axis=0, inplace=False)
Datos_NoNulos=Datos_NoNulos.drop([332], axis=0, inplace=False)
Datos_NoNulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         370 non-null    object
 1   age               370 non-null    float64
 2   clinical.T.Stage  370 non-null    float64
 3   Clinical.N.Stage  370 non-null    int64
 4   Clinical.M.Stage  370 non-null    int64
 5   Overall.Stage     370 non-null    object
 6   Histology         370 non-null    object
 7   gender            370 non-null    object
 8   Survival.time     370 non-null    int64
 9   deadstatus.event  370 non-null    int64
 10  F.analysis        370 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 34.7+ KB

De este modo se elimina un 12.32 % de los datos, entre datos nulos y erróneos

## Valores erróneos Histología

### Histology nos
Datos sin Histología definida

In [83]:
H_rows = Datos_NoNulos[Datos_NoNulos['Histology'] =='nos']
H_rows

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Histology,gender,Survival.time,deadstatus.event,F.analysis
12,LUNG1-013,65.3635,2.0,0,0,I,nos,male,3614,1,1.278645
15,LUNG1-016,79.1129,2.0,0,0,I,nos,male,101,1,1.799757
18,LUNG1-019,74.8200,2.0,0,0,I,nos,male,336,1,1.682059
50,LUNG1-051,51.6906,2.0,0,0,I,nos,male,210,1,1.693693
56,LUNG1-057,74.9076,2.0,2,0,IIIa,nos,male,98,1,1.688905
58,LUNG1-059,49.2594,2.0,2,0,IIIa,nos,male,670,1,1.638558
61,LUNG1-062,52.7118,4.0,2,0,IIIb,nos,female,220,1,1.140228
64,LUNG1-065,76.3395,2.0,3,0,IIIb,nos,male,131,1,1.983463
66,LUNG1-067,75.9671,1.0,2,0,IIIa,nos,male,1596,0,2.602347
68,LUNG1-069,56.8214,4.0,0,0,IIIb,nos,female,325,1,1.848644
69,LUNG1-070,79.6632,2.0,0,0,I,nos,male,457,1,1.420286
73,LUNG1-074,55.6934,4.0,0,0,IIIb,nos,male,939,1,1.720063
75,LUNG1-076,70.2177,2.0,2,0,IIIa,nos,male,2481,1,1.162736
78,LUNG1-079,68.7912,2.0,2,0,IIIa,nos,male,255,1,1.563320
80,LUNG1-081,62.1410,2.0,3,0,IIIb,nos,male,1540,0,1.227478
87,LUNG1-088,65.3963,4.0,2,0,IIIb,nos,male,159,1,1.374064
90,LUNG1-091,76.3970,3.0,2,0,IIIa,nos,male,258,1,1.935216
96,LUNG1-097,75.4935,2.0,0,0,I,nos,male,79,1,1.916383
101,LUNG1-102,66.8665,1.0,0,0,I,nos,female,1990,1,1.297272
105,LUNG1-106,43.3840,1.0,3,0,IIIb,nos,female,265,1,1.141862
107,LUNG1-108,58.6256,2.0,3,0,IIIb,nos,male,1460,0,0.820667
111,LUNG1-112,71.8439,2.0,0,0,I,nos,male,1295,1,1.091225
125,LUNG1-126,68.2601,1.0,3,0,IIIb,nos,female,524,1,1.049169
131,LUNG1-132,60.4709,4.0,0,0,IIIb,nos,male,4208,0,1.436352
136,LUNG1-137,74.6064,4.0,0,0,IIIb,nos,male,308,1,1.675069
140,LUNG1-141,81.0787,3.0,0,0,II,nos,male,244,1,1.872253
148,LUNG1-149,68.0365,3.0,3,0,IIIb,nos,male,179,1,2.504429
151,LUNG1-152,82.4093,1.0,0,0,I,nos,male,1076,1,1.047574
157,LUNG1-158,43.2827,1.0,2,0,IIIa,nos,female,143,1,1.082303
158,LUNG1-159,79.6523,2.0,0,0,I,nos,male,515,1,1.613831
159,LUNG1-160,76.4928,1.0,0,0,I,nos,male,1351,0,1.122217
161,LUNG1-162,76.1561,1.0,3,0,IIIb,nos,male,928,1,1.163459
163,LUNG1-164,66.1875,2.0,2,0,IIIa,nos,male,625,1,1.509249
165,LUNG1-166,61.0924,3.0,0,0,II,nos,male,4013,0,1.337850
167,LUNG1-168,75.1075,4.0,0,0,IIIb,nos,male,317,1,1.559577
168,LUNG1-169,69.1828,4.0,2,0,IIIb,nos,male,642,1,1.369699
173,LUNG1-174,68.0365,1.0,0,0,I,nos,male,865,1,1.260679
174,LUNG1-175,80.1999,2.0,0,0,I,nos,male,409,1,1.453541
179,LUNG1-180,59.3566,3.0,2,0,IIIa,nos,female,1263,1,1.350684
185,LUNG1-186,67.4661,4.0,0,0,IIIb,nos,male,2036,1,1.666666
186,LUNG1-187,58.8090,2.0,0,0,I,nos,female,756,1,1.477128
194,LUNG1-195,63.8713,1.0,2,0,IIIa,nos,female,2706,1,0.990218
198,LUNG1-199,58.1656,2.0,2,0,IIIa,nos,female,3814,0,1.769966
219,LUNG1-220,59.4141,3.0,2,0,IIIa,nos,male,508,1,1.606322
220,LUNG1-221,63.1567,4.0,3,0,IIIb,nos,male,515,1,1.835157
230,LUNG1-231,70.2368,1.0,3,0,IIIb,nos,male,1850,1,1.051190
237,LUNG1-238,70.7433,4.0,2,0,IIIb,nos,male,3642,0,1.630195
250,LUNG1-251,53.4593,2.0,3,0,IIIb,nos,female,1236,1,1.170343
260,LUNG1-261,56.9391,2.0,3,0,IIIb,nos,female,857,1,1.343747
269,LUNG1-270,68.0365,1.0,2,0,IIIa,nos,male,300,1,0.726102
279,LUNG1-280,49.3415,4.0,2,0,IIIb,nos,male,3402,0,1.602486
292,LUNG1-293,59.9808,2.0,0,0,I,nos,male,720,1,1.398722
306,LUNG1-307,68.0365,1.0,0,0,I,nos,female,687,1,1.071380
309,LUNG1-310,44.3970,4.0,0,0,IIIb,nos,male,109,1,1.862584
310,LUNG1-311,70.0151,1.0,0,0,I,nos,male,583,1,0.809524
330,LUNG1-331,69.8645,3.0,2,0,IIIa,nos,male,549,1,1.854966
343,LUNG1-344,67.7837,4.0,0,0,IIIb,nos,male,587,1,1.747037
347,LUNG1-348,62.4641,4.0,2,0,IIIb,nos,female,1672,1,1.792885
349,LUNG1-350,77.4018,2.0,3,0,IIIb,nos,female,444,1,1.454578
350,LUNG1-351,52.6434,4.0,2,0,IIIb,nos,female,463,1,1.730020

In [84]:
H_rows.count()

PatientID           60
age                 60
clinical.T.Stage    60
Clinical.N.Stage    60
Clinical.M.Stage    60
Overall.Stage       60
Histology           60
gender              60
Survival.time       60
deadstatus.event    60
F.analysis          60
dtype: int64

Si se eliminaran estos pacientes de Histología estaríamos hablando de una reducción del 26,54% de los datos por lo que inicialmente se dejan. Se evaluará el rendimiento del modelo con y sin esa columna.

##  Encoding de datos categóricos

### Overall.Stage

In [85]:
 from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()

In [86]:
Datos_NoNulos['Overall.Stage']= enc.fit_transform(Datos_NoNulos[['Overall.Stage']])

In [87]:
Datos_NoNulos.head()

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Histology,gender,Survival.time,deadstatus.event,F.analysis
0,LUNG1-001,78.7515,2.0,3,0,3.0,large cell,male,2165,1,1.771485
1,LUNG1-002,83.8001,2.0,0,0,0.0,squamous cell carcinoma,male,155,1,1.881307
2,LUNG1-003,68.1807,2.0,3,0,3.0,large cell,male,256,1,1.376259
3,LUNG1-004,70.8802,2.0,1,0,1.0,squamous cell carcinoma,male,141,1,1.734710
4,LUNG1-005,80.4819,4.0,2,0,3.0,squamous cell carcinoma,male,353,1,1.581113

In [88]:
Datos_NoNulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         370 non-null    object
 1   age               370 non-null    float64
 2   clinical.T.Stage  370 non-null    float64
 3   Clinical.N.Stage  370 non-null    int64
 4   Clinical.M.Stage  370 non-null    int64
 5   Overall.Stage     370 non-null    float64
 6   Histology         370 non-null    object
 7   gender            370 non-null    object
 8   Survival.time     370 non-null    int64
 9   deadstatus.event  370 non-null    int64
 10  F.analysis        370 non-null    float64
dtypes: float64(4), int64(4), object(3)
memory usage: 34.7+ KB

### Histology

In [89]:
dummies = pd.get_dummies(Datos_NoNulos['Histology'])
dummies

     adenocarcinoma  large cell  nos  squamous cell carcinoma
0                 0           1    0                        0
1                 0           0    0                        1
2                 0           1    0                        0
3                 0           0    0                        1
4                 0           0    0                        1
..              ...         ...  ...                      ...
416               0           0    0                        1
417               1           0    0                        0
418               0           0    0                        1
419               0           0    0                        1
420               0           0    0                        1

[370 rows x 4 columns]

In [90]:
Datos_NoNulos = pd.concat([
    Datos_NoNulos.drop("Histology", axis = 1),
    dummies
], axis = 1)
Datos_NoNulos.head()

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,gender,Survival.time,deadstatus.event,F.analysis,adenocarcinoma,large cell,nos,squamous cell carcinoma
0,LUNG1-001,78.7515,2.0,3,0,3.0,male,2165,1,1.771485,0,1,0,0
1,LUNG1-002,83.8001,2.0,0,0,0.0,male,155,1,1.881307,0,0,0,1
2,LUNG1-003,68.1807,2.0,3,0,3.0,male,256,1,1.376259,0,1,0,0
3,LUNG1-004,70.8802,2.0,1,0,1.0,male,141,1,1.734710,0,0,0,1
4,LUNG1-005,80.4819,4.0,2,0,3.0,male,353,1,1.581113,0,0,0,1

In [91]:
Datos_NoNulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PatientID                370 non-null    object
 1   age                      370 non-null    float64
 2   clinical.T.Stage         370 non-null    float64
 3   Clinical.N.Stage         370 non-null    int64
 4   Clinical.M.Stage         370 non-null    int64
 5   Overall.Stage            370 non-null    float64
 6   gender                   370 non-null    object
 7   Survival.time            370 non-null    int64
 8   deadstatus.event         370 non-null    int64
 9   F.analysis               370 non-null    float64
 10  adenocarcinoma           370 non-null    uint8
 11  large cell               370 non-null    uint8
 12  nos                      370 non-null    uint8
 13  squamous cell carcinoma  370 non-null    uint8
dtypes: float64(4), int64(4), object(2), uint8(4)
memory usage: 33.2+ KB

### gender

In [92]:
dummies = pd.get_dummies(Datos_NoNulos['gender'])
dummies

     female  male
0         0     1
1         0     1
2         0     1
3         0     1
4         0     1
..      ...   ...
416       0     1
417       0     1
418       0     1
419       0     1
420       1     0

[370 rows x 2 columns]

In [93]:
Datos_NoNulos = pd.concat([
    Datos_NoNulos.drop("gender", axis = 1),
    dummies
], axis = 1)
Datos_NoNulos.head()

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Survival.time,deadstatus.event,F.analysis,adenocarcinoma,large cell,nos,squamous cell carcinoma,female,male
0,LUNG1-001,78.7515,2.0,3,0,3.0,2165,1,1.771485,0,1,0,0,0,1
1,LUNG1-002,83.8001,2.0,0,0,0.0,155,1,1.881307,0,0,0,1,0,1
2,LUNG1-003,68.1807,2.0,3,0,3.0,256,1,1.376259,0,1,0,0,0,1
3,LUNG1-004,70.8802,2.0,1,0,1.0,141,1,1.734710,0,0,0,1,0,1
4,LUNG1-005,80.4819,4.0,2,0,3.0,353,1,1.581113,0,0,0,1,0,1

In [94]:
Datos_NoNulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PatientID                370 non-null    object
 1   age                      370 non-null    float64
 2   clinical.T.Stage         370 non-null    float64
 3   Clinical.N.Stage         370 non-null    int64
 4   Clinical.M.Stage         370 non-null    int64
 5   Overall.Stage            370 non-null    float64
 6   Survival.time            370 non-null    int64
 7   deadstatus.event         370 non-null    int64
 8   F.analysis               370 non-null    float64
 9   adenocarcinoma           370 non-null    uint8
 10  large cell               370 non-null    uint8
 11  nos                      370 non-null    uint8
 12  squamous cell carcinoma  370 non-null    uint8
 13  female                   370 non-null    uint8
 14  male                     370 non-null    uint8
dtypes: float64(4), int64(4), object(1), uint8(6)
memory usage: 31.1+ KB

## Normalización de los datos

In [95]:
df_normalizar=Datos_NoNulos[["age" , "clinical.T.Stage","Clinical.N.Stage","Clinical.M.Stage","Overall.Stage", "F.analysis"]]
col_norm=df_normalizar.columns
col_norm

Index(['age', 'clinical.T.Stage', 'Clinical.N.Stage', 'Clinical.M.Stage',
       'Overall.Stage', 'F.analysis'],
      dtype='object')

In [96]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

scaled_df = scaler.fit_transform(df_normalizar)

In [97]:
scaled_df = pd.DataFrame(scaled_df, columns=col_norm)

In [98]:
scaled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               370 non-null    float64
 1   clinical.T.Stage  370 non-null    float64
 2   Clinical.N.Stage  370 non-null    float64
 3   Clinical.M.Stage  370 non-null    float64
 4   Overall.Stage     370 non-null    float64
 5   F.analysis        370 non-null    float64
dtypes: float64(6)
memory usage: 17.5 KB

In [99]:
filas_nonulos=list()
filas_norm=list()
for indice_fila,fila in Datos_NoNulos.iterrows():
      filas_nonulos.append(indice_fila)
for indice_fil_norm, fila_norm in scaled_df.iterrows():
    filas_norm.append(indice_fil_norm)

In [100]:
filas_nonulos

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 21,
 23,
 24,
 25,
 26,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 83,
 85,
 87,
 88,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 128,
 129,
 130,
 131,
 133,
 134,
 136,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 154,
 155,
 157,
 158,
 159,
 161,
 162,
 163,
 164,
 165,
 167,
 168,
 169,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 241,
 242,
 243,
 244,
 246,
 247,
 249,
 250,
 251,
 252,
 253,
 256,
 257,
 258,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 269,
 270,
 272,
 273,
 274,
 275,
 276,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 287,
 288,
 289,
 290,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 306,
 307,
 309,
 310,
 311,
 312,
 313,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 328,
 329,
 330,
 333,
 334,
 335,
 336,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420]

In [101]:
filas_norm

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369]

In [102]:
for i,j in zip(filas_nonulos,filas_norm):
    Datos_NoNulos.at[i,'age']=scaled_df.at[j,'age']
    Datos_NoNulos.at[i,'clinical.T.Stage']=scaled_df.at[j,'clinical.T.Stage']
    Datos_NoNulos.at[i,'Clinical.N.Stage']=scaled_df.at[j,'Clinical.N.Stage']
    Datos_NoNulos.at[i,'Clinical.M.Stage']=scaled_df.at[j,'Clinical.M.Stage']
    Datos_NoNulos.at[i,'Overall.Stage']=scaled_df.at[j,'Overall.Stage']
    Datos_NoNulos.at[i,'F.analysis']=scaled_df.at[j,'F.analysis']

In [103]:
Datos_NoNulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PatientID                370 non-null    object
 1   age                      370 non-null    float64
 2   clinical.T.Stage         370 non-null    float64
 3   Clinical.N.Stage         370 non-null    int64
 4   Clinical.M.Stage         370 non-null    int64
 5   Overall.Stage            370 non-null    float64
 6   Survival.time            370 non-null    int64
 7   deadstatus.event         370 non-null    int64
 8   F.analysis               370 non-null    float64
 9   adenocarcinoma           370 non-null    uint8
 10  large cell               370 non-null    uint8
 11  nos                      370 non-null    uint8
 12  squamous cell carcinoma  370 non-null    uint8
 13  female                   370 non-null    uint8
 14  male                     370 non-null    uint8
dtypes: float64(4), int64(4), object(1), uint8(6)
memory usage: 39.2+ KB

In [104]:
Datos_NoNulos.describe()

,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Survival.time,deadstatus.event,F.analysis,adenocarcinoma,large cell,nos,squamous cell carcinoma,female,male
count,370.000000,370.000000,370.000000,370.0,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000,370.000000
mean,0.594242,0.507207,0.210811,0.0,0.657658,984.689189,0.883784,0.465274,0.135135,0.297297,0.162162,0.405405,0.318919,0.681081
std,0.172518,0.364127,0.408437,0.0,0.372872,1020.695391,0.320918,0.155386,0.342331,0.457687,0.369099,0.491635,0.466689,0.466689
min,0.000000,0.000000,0.000000,0.0,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.482807,0.333333,0.000000,0.0,0.333333,258.750000,1.000000,0.362318,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.593495,0.333333,0.000000,0.0,0.666667,574.000000,1.000000,0.477017,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.727380,1.000000,0.000000,0.0,1.000000,1391.250000,1.000000,0.574996,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,0.0,1.000000,4328.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [105]:
Datos_NoNulos

,PatientID,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,Overall.Stage,Survival.time,deadstatus.event,F.analysis,adenocarcinoma,large cell,nos,squamous cell carcinoma,female,male
0,LUNG1-001,0.776751,0.333333,1,0,1.000000,2165,1,0.600743,0,1,0,0,0,1
1,LUNG1-002,0.863766,0.333333,0,0,0.000000,155,1,0.653516,0,0,0,1,0,1
2,LUNG1-003,0.594556,0.333333,1,0,1.000000,256,1,0.410823,0,1,0,0,0,1
3,LUNG1-004,0.641084,0.333333,0,0,0.333333,141,1,0.583071,0,0,0,1,0,1
4,LUNG1-005,0.806575,1.000000,0,0,1.000000,353,1,0.509262,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,LUNG1-417,0.549415,1.000000,0,0,1.000000,648,1,0.541115,0,0,0,1,0,1
417,LUNG1-418,0.344476,0.333333,0,0,0.000000,346,1,0.538769,1,0,0,0,0,1
418,LUNG1-419,0.565754,1.000000,0,0,1.000000,2772,0,0.523868,0,0,0,1,0,1
419,LUNG1-420,0.684183,0.333333,0,0,0.333333,2429,1,0.413147,0,0,0,1,0,1
420,LUNG1-421,0.482928,0.333333,0,0,0.666667,369,1,0.491920,0,0,0,1,1,0

## CONVERSION DATAFRAME A CSV

In [106]:
Datos_NoNulos.to_csv('df_imput_age_norm.csv')

## MODELO RANDOM SURVIVAL FOREST

In [107]:
X=Datos_NoNulos[['age','clinical.T.Stage','Clinical.N.Stage','Clinical.M.Stage','F.analysis','adenocarcinoma','nos','squamous cell carcinoma','large cell','Overall.Stage','female','male']]

In [108]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      370 non-null    float64
 1   clinical.T.Stage         370 non-null    float64
 2   Clinical.N.Stage         370 non-null    int64
 3   Clinical.M.Stage         370 non-null    int64
 4   F.analysis               370 non-null    float64
 5   adenocarcinoma           370 non-null    uint8
 6   nos                      370 non-null    uint8
 7   squamous cell carcinoma  370 non-null    uint8
 8   large cell               370 non-null    uint8
 9   Overall.Stage            370 non-null    float64
 10  female                   370 non-null    uint8
 11  male                     370 non-null    uint8
dtypes: float64(4), int64(2), uint8(6)
memory usage: 30.5 KB

In [109]:
Y_df=Datos_NoNulos[['deadstatus.event','Survival.time']]

In [110]:
Y_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   deadstatus.event  370 non-null    int64
 1   Survival.time     370 non-null    int64
dtypes: int64(2)
memory usage: 16.8 KB

In [111]:
Y_df['deadstatus.event']=Y_df['deadstatus.event'].astype('bool')
Y_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   deadstatus.event  370 non-null    bool
 1   Survival.time     370 non-null    int64
dtypes: bool(1), int64(1)
memory usage: 14.2 KB

C:\Users\Usuario\AppData\Local\Temp/ipykernel_9320/494564251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_df['deadstatus.event']=Y_df['deadstatus.event'].astype('bool')

In [112]:
Y=Y_df.to_records(index=False)
#Y

In [113]:
random_state = 20

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=random_state)

In [114]:
rsf = RandomSurvivalForest(
    n_estimators=1000, min_samples_split=10, min_samples_leaf=15, n_jobs=-1, random_state=random_state
)
rsf.fit(X_train, y_train)

RandomSurvivalForest(min_samples_leaf=15, min_samples_split=10,
                     n_estimators=1000, n_jobs=-1, random_state=20)

In [115]:
rsf.score(X_test, y_test)

0.5423850574712644

In [116]:
from sklearn.inspection import permutation_importance

result = permutation_importance(rsf, X_test, y_test, n_repeats=15, random_state=random_state)

In [117]:
pd.DataFrame(
    {
        k: result[k]
        for k in (
            "importances_mean",
            "importances_std",
        )
    },
    index=X_test.columns,
).sort_values(by="importances_mean", ascending=False)

                         importances_mean  importances_std
age                              0.023483         0.015894
F.analysis                       0.008206         0.027141
Clinical.M.Stage                 0.000000         0.000000
nos                             -0.000192         0.001696
adenocarcinoma                  -0.000351         0.000869
Clinical.N.Stage                -0.000367         0.002508
male                            -0.001852         0.004721
clinical.T.Stage                -0.001916         0.003902
female                          -0.002219         0.004725
Overall.Stage                   -0.002331         0.003065
large cell                      -0.003432         0.002909
squamous cell carcinoma         -0.014224         0.013555

In [118]:
X_test_sorted = X_test.sort_values(by=[ "F.analysis","age"])
X_test_sel = pd.concat((X_test_sorted.head(3), X_test_sorted.tail(3)))

X_test_sel

,age,clinical.T.Stage,Clinical.N.Stage,Clinical.M.Stage,F.analysis,adenocarcinoma,nos,squamous cell carcinoma,large cell,Overall.Stage,female,male
325,0.867022,0.333333,0,0,0.134805,0,0,1,0,0.333333,0,1
310,0.626173,0.000000,0,0,0.138487,0,1,0,0,0.000000,0,1
107,0.429868,0.333333,1,0,0.143842,0,1,0,0,1.000000,0,1
275,0.508578,0.666667,0,0,0.699308,0,0,1,0,0.666667,0,1
395,0.439107,1.000000,0,0,0.729391,0,0,1,0,1.000000,1,0
209,0.842722,0.333333,0,0,0.963879,0,0,1,0,0.000000,0,1

In [119]:
pd.Series(rsf.predict(X_test_sel))

0    207.538184
1    123.508062
2    136.859417
3    271.272338
4    207.789667
5    297.081338
dtype: float64

## Modelo RSF quitando  columnas

In [120]:
#X=Datos_NoNulos[['age','clinical.T.Stage','Clinical.N.Stage','Clinical.M.Stage','F.analysis','Overall.Stage','female','male']]
#X=Datos_NoNulos[['age','clinical.T.Stage','Clinical.N.Stage','Clinical.M.Stage','F.analysis','Overall.Stage']]
#X=Datos_NoNulos[['age','Clinical.N.Stage','F.analysis']]
#X=Datos_NoNulos[['age','F.analysis']]
#X=Datos_NoNulos[['age']]
X=Datos_NoNulos[['F.analysis']]

In [121]:
Y_df=Datos_NoNulos[['deadstatus.event','Survival.time']]

In [122]:
Y_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   deadstatus.event  370 non-null    int64
 1   Survival.time     370 non-null    int64
dtypes: int64(2)
memory usage: 16.8 KB

In [123]:
Y_df['deadstatus.event']=Y_df['deadstatus.event'].astype('bool')
Y_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 420
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   deadstatus.event  370 non-null    bool
 1   Survival.time     370 non-null    int64
dtypes: bool(1), int64(1)
memory usage: 14.2 KB

C:\Users\Usuario\AppData\Local\Temp/ipykernel_9320/494564251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_df['deadstatus.event']=Y_df['deadstatus.event'].astype('bool')

In [124]:
Y=Y_df.to_records(index=False)
#Y

In [125]:
random_state = 20

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=random_state)

In [126]:
rsf = RandomSurvivalForest(
    n_estimators=1000, min_samples_split=10, min_samples_leaf=15, n_jobs=-1, random_state=random_state
)
rsf.fit(X_train, y_train)

RandomSurvivalForest(min_samples_leaf=15, min_samples_split=10,
                     n_estimators=1000, n_jobs=-1, random_state=20)

In [127]:
rsf.score(X_test, y_test)

0.5432231800766284

In [128]:
from sklearn.inspection import permutation_importance

result = permutation_importance(rsf, X_test, y_test, n_repeats=15, random_state=random_state)

In [129]:
pd.DataFrame(
    {
        k: result[k]
        for k in (
            "importances_mean",
            "importances_std",
        )
    },
    index=X_test.columns,
).sort_values(by="importances_mean", ascending=False)

            importances_mean  importances_std
F.analysis          0.036119         0.034853

In [130]:
X_test_sorted = X_test.sort_values(by=[ "F.analysis","age"])
X_test_sel = pd.concat((X_test_sorted.head(3), X_test_sorted.tail(3)))

X_test_sel

KeyError: 'age'

In [ ]:
pd.Series(rsf.predict(X_test_sel))